name: Go-static-analysis
on: [push, pull_request]
jobs:
  golangci:
    name: Lint
    runs-on: ubuntu-24.04
    steps:
      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: "1.24"
      - uses: actions/checkout@v4
      - name: run make lint
        run: make lint
  shellcheck:
    name: Shellcheck
    runs-on: ubuntu-24.04
    steps:
    - uses: actions/checkout@v4
    - name: Run ShellCheck
      uses: ludeeus/action-shellcheck@master
      with:
        check_together: yes
  hadolint:
    runs-on: ubuntu-24.04
    name: Hadolint
    steps:
    - uses: actions/checkout@v4
    - uses: hadolint/hadolint-action@v3.1.0
      name: Run Hadolint
      with:
       dockerfile: Dockerfile
